# <center>Data Mining Project 2 Spring semester 2019-2020</center>
## <center>Παναγιώτης Ευαγγελίου &emsp; 1115201500039</center>
## <center>Γεώργιος Μαραγκοζάκης &emsp; 1115201500089</center>

___

### Do all the necessary imports for this notebook

In [1]:
# region
# data processing
import pandas as pd
from sklearn.model_selection import train_test_split

# visualization
from wordcloud import WordCloud
from IPython.display import Image
from IPython.display import display

# for data exploration
import pandas as pd
import os
import numpy as np

# ## __Dataset Preprocessing__

# - ### *Make tsv files from all the txt files*

In [2]:

pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 300)

myCategoriesFolder = ['business','entertainment','politics', 'sport', 'tech']
dataPathDir = './fulltext/data/'

myDataSetDf = pd.DataFrame(columns=['ID', 'TITLE',  'CONTENT',  'CATEGORY'])
id_count = 0

for category in myCategoriesFolder:
    # print('Folder ' + category + ':')
    specificPath = dataPathDir + category + '/'

    # list of dataframes of this category
    categoryFilesDfList = []

    # find the column's names of each csv
    for fileName in os.listdir(specificPath):
        # we need to check only .txt files
        if fileName.endswith(".txt"):
            # print(id_count, ' ', os.path.join(specificPath, fileName))
            id_count += 1
            # thisTxt = pd.read_csv(os.path.join(specificPath, fileName), dtype='unicode')
            thisTxt = open(os.path.join(specificPath, fileName),"r")
            thisTxtTitle = thisTxt.readline()
            # get rid of '\n' on the end of title line
            thisTxtTitle = thisTxtTitle.replace('\n', '')
            thisTxtContent = thisTxt.readlines()
            # https://stackoverflow.com/questions/1157106/remove-all-occurrences-of-a-value-from-a-list
            # get rid of empty lines '\n'
            thisTxtContent = list(filter(lambda a: a != '\n', thisTxtContent))
            # get rid of '\n' on the end of each line 
            thisTxtContent = [period.replace('\n', '') for period in thisTxtContent]
            # convert list of lines into a single string line
            thisTxtContent = ' '.join(thisTxtContent)
            myDataSetDf = myDataSetDf.append({'ID': id_count, 'TITLE': thisTxtTitle, 'CONTENT': thisTxtContent, 'CATEGORY': category.upper()}, ignore_index=True)
            thisTxt.close() 
display(myDataSetDf)

,ID,TITLE,CONTENT,CATEGORY
0,1,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarner...,BUSINESS
1,2,Dollar gains on Greenspan speech,The dollar has hit its highest level against t...,BUSINESS
2,3,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,BUSINESS
3,4,High fuel prices hit BA's profits,British Airways has blamed high fuel prices fo...,BUSINESS
4,5,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Domec...,BUSINESS
...,...,...,...,...
2220,2221,BT program to beat dialler scams,BT is introducing two initiatives to help beat...,TECH
2221,2222,Spam e-mails tempt net shoppers,Computer users across the world continue to ig...,TECH
2222,2223,Be careful how you code,A new European directive could put software wr...,TECH
2223,2224,US cyber security chief resigns,The man making sure US computer networks are s...,TECH
2224,2225,Losing yourself in online gaming,"Online role playing games are time-consuming, ...",TECH

myDataSetDf = pd.read_csv("testData.tsv", sep='\t')

## __Make wordcloud for each category__

In [3]:
def makeWordCloud(myText, saveLocationPath, myMaxWords=100, myMask=None, myStopWords=None):
    '''Default function for generating wordcloud'''

    wc = WordCloud(background_color="white", mask=myMask, max_words=myMaxWords,
                   stopwords=myStopWords, contour_width=3, contour_color='steelblue')

    # generate word cloud
    wc.generate(myText)

    # store to file

    wc.to_file(saveLocationPath)

    return saveLocationPath

- ### *Business Wordcloud*

In [4]:

# to fill

- ### *Entertainment Wordcloud*

In [5]:

# to fill

- ### *Politics Wordcloud*

In [6]:

# to fill

- ### *Sport Wordcloud*

In [7]:

# to fill

- ### *Tech Wordcloud*

In [8]:

# to fill

## __Classification__

- ### *Split DataSet into TrainData and TestData*

In [9]:

# trainDataSet, testDataSet = train_test_split(dataSetDf, test_size=0.2, stratify=dataSetDf['CATEGORY'])

# to be removed and use the above
trainDataSet, testDataSet = train_test_split(myDataSetDf, test_size=0.3, stratify=myDataSetDf['CATEGORY']) 
# to be removed and use the above

# reset index
trainDataSet.reset_index(drop=True, inplace=True)
testDataSet.reset_index(drop=True, inplace=True)

# save to tsv files
trainDataSet.to_csv('train_set.tsv', sep = '\t')

# save test_set categories
testDataSetCategories = testDataSet[['CATEGORY']].copy()

testDataSetCategories.to_csv('test_set_categories.tsv', sep = '\t')

testDataSet = testDataSet.drop('CATEGORY', axis=1)
testDataSet.to_csv('test_set.tsv', sep = '\t')

In [10]:
myDataSetDf

,ID,TITLE,CONTENT,CATEGORY
0,1,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarner...,BUSINESS
1,2,Dollar gains on Greenspan speech,The dollar has hit its highest level against t...,BUSINESS
2,3,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,BUSINESS
3,4,High fuel prices hit BA's profits,British Airways has blamed high fuel prices fo...,BUSINESS
4,5,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Domec...,BUSINESS
...,...,...,...,...
2220,2221,BT program to beat dialler scams,BT is introducing two initiatives to help beat...,TECH
2221,2222,Spam e-mails tempt net shoppers,Computer users across the world continue to ig...,TECH
2222,2223,Be careful how you code,A new European directive could put software wr...,TECH
2223,2224,US cyber security chief resigns,The man making sure US computer networks are s...,TECH
2224,2225,Losing yourself in online gaming,"Online role playing games are time-consuming, ...",TECH

In [11]:
trainDataSet

,ID,TITLE,CONTENT,CATEGORY
0,2101,Tech helps disabled speed demons,An organisation has been launched to encourage...,TECH
1,1374,Johnson edges out rival Sotherton,Jade Johnson edged out rival Kelly Sotherton w...,SPORT
2,1597,Hodgson shoulders England blame,Fly-half Charlie Hodgson admitted his wayward ...,SPORT
3,1759,Davenport dismantles young rival,Top seed Lindsay Davenport booked her place in...,SPORT
4,852,US composer recreates Bach score,A US musicologist has recreated a lost musical...,ENTERTAINMENT
...,...,...,...,...
1552,1822,Melzer shocks Agassi in San Jose,Second seed Andre Agassi suffered a comprehens...,SPORT
1553,93,Argentina closes $102.6bn debt swap,Argentina is set to close its $102.6bn (Â£53.5...,BUSINESS
1554,1059,Kinnock to urge reform in Lords,Neil Kinnock has said his acceptance of a seat...,POLITICS
1555,1182,UKIP candidate suspended in probe,Eurosceptic party UKIP have suspended a candid...,POLITICS
1556,234,Vodafone appoints new Japan boss,Vodafone has drafted in its UK chief executive...,BUSINESS

In [12]:
testDataSet

,ID,TITLE,CONTENT
0,2154,EU software patent law faces axe,The European Parliament has thrown out a bill ...
1,743,Elvis fans hold birthday bash,Elvis fans around the world have been marking ...
2,1026,Blair told to double overseas aid,Tony Blair is being urged to use all his negot...
3,1921,Web helps collect aid donations,The web is helping aid agencies gather resourc...
4,77,China had role in Yukos split-up,China lent Russia $6bn (Â£3.2bn) to help the R...
...,...,...,...
663,723,TV show unites Angolan families,Angolan families who are attempting to track e...
664,1486,QPR keeper Day heads for Preston,Queens Park Rangers keeper Chris Day is set to...
665,466,High fuel costs hit US airlines,Two of the largest airlines in the US - Americ...
666,1777,Connors boost for British tennis,Former world number one Jimmy Connors is plann...
667,680,EastEnders 'is set for US remake',Plans to create a US soap based on the BBC's E...

In [13]:
testDataSetCategories

          CATEGORY
0             TECH
1    ENTERTAINMENT
2         POLITICS
3             TECH
4         BUSINESS
..             ...
663  ENTERTAINMENT
664          SPORT
665       BUSINESS
666          SPORT
667  ENTERTAINMENT

[668 rows x 1 columns]