# <center>Data Mining Project 2 Spring semester 2019-2020</center>
## <center>Παναγιώτης Ευαγγελίου &emsp; 1115201500039</center>
## <center>Γεώργιος Μαραγκοζάκης &emsp; 1115201500089</center>

___

### Do all the necessary imports for this notebook

In [1]:
# data processing
import pandas as pd
from sklearn.model_selection import train_test_split

# visualization
from wordcloud import WordCloud
from IPython.display import Image

## __Dataset Preprocessing__

- ### *Make tsv files from all the txt files*

In [2]:

# to fill

In [3]:
dataSetDf = pd.read_csv("testData.tsv", sep='\t')

## __Make wordcloud for each category__

In [4]:
def makeWordCloud(myText, saveLocationPath, myMaxWords=100, myMask=None, myStopWords=None):
    '''Default function for generating wordcloud'''

    wc = WordCloud(background_color="white", mask=myMask, max_words=myMaxWords,
                   stopwords=myStopWords, contour_width=3, contour_color='steelblue')

    # generate word cloud
    wc.generate(myText)

    # store to file

    wc.to_file(saveLocationPath)

    return saveLocationPath

- ### *Business Wordcloud*

In [5]:

# to fill

- ### *Entertainment Wordcloud*

In [6]:

# to fill

- ### *Politics Wordcloud*

In [7]:

# to fill

- ### *Sport Wordcloud*

In [8]:

# to fill

- ### *Tech Wordcloud*

In [9]:

# to fill

## __Classification__

- ### *Split DataSet into TrainData and TestData*

In [10]:

# trainDataSet, testDataSet = train_test_split(dataSetDf, test_size=0.2, stratify=dataSetDf['CATEGORY'])

# to be removed and use the above
trainDataSet, testDataSet = train_test_split(dataSetDf, test_size=0.3, stratify=dataSetDf['CATEGORY']) 
# to be removed and use the above

# reset index
trainDataSet.reset_index(drop=True, inplace=True)
testDataSet.reset_index(drop=True, inplace=True)

# save to tsv files
trainDataSet.to_csv('train_set.tsv', sep = '\t')

# save test_set categories
testDataSetCategories = testDataSet[['CATEGORY']].copy()

testDataSetCategories.to_csv('test_set_categories.tsv', sep = '\t')

testDataSet = testDataSet.drop('CATEGORY', axis=1)
testDataSet.to_csv('test_set.tsv', sep = '\t')

In [11]:
dataSetDf

,ID,TITLE,CONTENT,CATEGORY
0,0,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarner...,BUSINESS
1,1,Dollar gains on Greenspan speech,The dollar has hit its highest level against t...,BUSINESS
2,2,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,BUSINESS
3,3,Gallery unveils interactive tree,A Christmas tree that can receive text message...,ENTERTAINMENT
4,4,Jarre joins fairytale celebration,French musician Jean-Michel Jarre is to perfor...,ENTERTAINMENT
5,5,Musical treatment for Capra film,The classic film It's A Wonderful Life is to b...,ENTERTAINMENT
6,6,Labour plans maternity pay rise,Maternity pay for new mothers is to rise by £1...,POLITICS
7,7,Watchdog probes e-mail deletions,The information commissioner says he is urgent...,POLITICS
8,8,Hewitt decries 'career sexism',Plans to extend paid maternity leave beyond si...,POLITICS
9,9,Claxton hunting first major medal,British hurdler Sarah Claxton is confident she...,SPORT
10,10,O'Sullivan could run in Worlds,Sonia O'Sullivan has indicated that she would ...,SPORT
11,11,Greene sets sights on world title,Maurice Greene aims to wipe out the pain of lo...,SPORT
12,12,Ink helps drive democracy in Asia,"The Kyrgyz Republic, a small, mountainous stat...",TECH
13,13,China net cafe culture crackdown,"Chinese authorities closed 12,575 net cafes in...",TECH
14,14,Microsoft seeking spyware trojan,Microsoft is investigating a trojan program th...,TECH

In [12]:
trainDataSet

,ID,TITLE,CONTENT,CATEGORY
0,4,Jarre joins fairytale celebration,French musician Jean-Michel Jarre is to perfor...,ENTERTAINMENT
1,11,Greene sets sights on world title,Maurice Greene aims to wipe out the pain of lo...,SPORT
2,7,Watchdog probes e-mail deletions,The information commissioner says he is urgent...,POLITICS
3,1,Dollar gains on Greenspan speech,The dollar has hit its highest level against t...,BUSINESS
4,5,Musical treatment for Capra film,The classic film It's A Wonderful Life is to b...,ENTERTAINMENT
5,6,Labour plans maternity pay rise,Maternity pay for new mothers is to rise by £1...,POLITICS
6,2,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,BUSINESS
7,9,Claxton hunting first major medal,British hurdler Sarah Claxton is confident she...,SPORT
8,13,China net cafe culture crackdown,"Chinese authorities closed 12,575 net cafes in...",TECH
9,12,Ink helps drive democracy in Asia,"The Kyrgyz Republic, a small, mountainous stat...",TECH

In [13]:
testDataSet

,ID,TITLE,CONTENT
0,14,Microsoft seeking spyware trojan,Microsoft is investigating a trojan program th...
1,3,Gallery unveils interactive tree,A Christmas tree that can receive text message...
2,0,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarner...
3,10,O'Sullivan could run in Worlds,Sonia O'Sullivan has indicated that she would ...
4,8,Hewitt decries 'career sexism',Plans to extend paid maternity leave beyond si...

In [14]:
testDataSetCategories

        CATEGORY
0           TECH
1  ENTERTAINMENT
2       BUSINESS
3          SPORT
4       POLITICS